images
ubuntu-yocto-build-*/qemu*
ubuntu-yocto-build-*/test*
ubuntu-yocto-build-*/imx53*
ubuntu-yocto-build-*/zynq7*
ubuntu-aosp-build-*
ubuntu-yocto-build-*/.*
ubuntu-yocto-build-*/opt
ubuntu-yocto-build-*/downloads-*
ubuntu-yocto-build-*/build
ubuntu-yocto-build-*/ik-image*
