# POKY_BBLAYERS_CONF_VERSION is increased each time build/conf/bblayers.conf
# changes incompatibly
POKY_BBLAYERS_CONF_VERSION = "2"

BBPATH = "${TOPDIR}"
BBFILES ?= ""

LAYERS_PATH = "/home/build/layers"

BBLAYERS ?= " \
  ${LAYERS_PATH}/poky \
  ${LAYERS_PATH}/meta-openembedded/meta-oe \
  ${LAYERS_PATH}/meta-openembedded/meta-python \
  ${LAYERS_PATH}/meta-openembedded/meta-initramfs \
  ${LAYERS_PATH}/meta-openembedded/meta-filesystems \
  ${LAYERS_PATH}/meta-openembedded/meta-networking \
  ${LAYERS_PATH}/meta-openembedded/meta-multimedia \
  ${LAYERS_PATH}/meta-qt5 \
  ${LAYERS_PATH}/meta-freescale \
  ${LAYERS_PATH}/ik \
  "
